html, body {
	font-size: 12px;
	margin: 0px;
	min-width: 1000px;
	
}

#search_div {
	height: 90px;
	width: 60%;
	margin: 30px 30px 0px 0px;

}
#search_input_div{
	border: 1px solid #39853B;
	border-radius: 5px 5px;
	
	width: 100%;
 
	
}
#search_icon{
	cursor:pointer;
	width:29px;
	height: 40px;
	float:right;
	   background: url("../../images/monitor/search_icon.png") center
		no-repeat; 
}
#search_input {
font-size: 16px;
border:0px;

	height: 40px;
}

#status_detail {
	text-align: right;
	margin: 10px;
	word-spacing: 20px;
	letter-spacing: 2px;
	font-weight: 800;
}

#branch_center_content {
	height: 100%;
	
	float: left;
	min-width: 600px;
}

.branch_content {
	margin-top: 10px;
	width: 100%;
	float: left;
	margin-bottom: 10px;
}

.content_area {
	float: left;
	width: 280px;
	padding-left: 40px;
}

.content_organization {
	float: left;
	
	width: 100%;
}

.areaIcon {
	background: url("../../images/monitor/area_icon.png") center no-repeat;
	float: left;
	width: 30px;
	height: 36px;
}

.areaName {
	background: #F4D092;
	border-radius: 5px 5px;
	font-size: 18px;
	font-weight: 800;
	text-align: center;
	float: left;
	min-width: 150px;
	padding: 10px;
}

.status_icon {
	width: 130px;
	border: 1px solid red; height : 100%;
	float: left;
	height: 100%
}

.branch_good {
	width: 100px;
	margin: 4px 0px 10px 0px;

	background: #8CC499;
	border-radius: 5px 5px;
	font-size: 16px;
	font-weight: 600;
	padding: 6px;
	text-align: center;
	min-width: 100px;
	float: left;
}

.branch_warning {
	width: 100px;
	margin: 4px 0px 10px 0px;

	background: #EDD37A;
	border-radius: 5px 5px;
	font-size: 16px;
	font-weight: 600;
	padding: 6px;
	text-align: center;
	min-width: 100px;
	float: left;
}
.branch_error {
	width: 100px;
	margin: 4px 0px 10px 0px;
	background: #CA8289;
	border-radius: 5px 5px;
	font-size: 16px;
	font-weight: 600;
	padding: 6px;
	text-align: center;
	min-width: 100px;
	float: left;
}

.branch_div {
	float: left;
	width: 100%;
}
.branch_view {
	float: left;
	margin-left:20px;
}
.organization{
	line-height: 30px;
	
	float:left;
	width:238px;
}
.organization_hr{
border:1px solid #EDEDED;
width: 98%;
}
.organization_a{
	color: black;
}
.organizationName{
	float: left;
	margin-left: 10px;
}
#deviceList{
	float:left;
	
	width: 400px; 
	display: none;
	border-left:2px solid #EDEDED;
	
	
}
.deivceContent{
	width: 100%;
	font-size: 12px;
	float: left;
}
.device_organizationName{
	line-height:30px;
	font-size: 14px;
	font-weight:800;
	margin: 10px 10px 0px 10px;
}
.git_img{
	float: left;
	margin-left: 10px;
} 
.git_img img{
	margin-left:10px;
}
.git_content{
	float:left;
	margin-top:8px;
	width:150px;
	
}
.git_content_div{
	margin-top:10px;
	float:left;
	width: 100%;
	
}
.git_hr{
	margin: 0px;
}
.git_details{
	float:right;
	margin-top: 15px;
}
.git_details a{
	background: url("../../images/monitor/details.png");
	line-height: 23px;
	height: 23px;width:70px;
	display: block;
	font-size: 12px;
	padding-left: 5px;
	margin-right: 4px;
	
}
#deviceView{
	text-align:center;
	margin-top: 10px;
	
}