html, body {
	font-size: 12px;
	margin: 0px;
	min-width: 990px;
	width:100%;height:100%;
}

.device_orgName {
	line-height: 30px;
	font-size: 14px;
	font-weight: 800;
	margin: 10px 10px 0px 10px;
}

.git_hr {
	margin: 0px;
}

.device_content {
	margin-top: 10px;
	margin-left: 60px;
	width: 100%;
	float: left;
}

.device_img img {
	margin: 0px 10px 0px 10px;
}

.device_img {
	float: left;
}

.device_img input {
	float: left;
	margin-top: 30px;
}

.device_detail {
	float: left;
	line-height: 22px;
}

.git_details a {
	background: url("../../images/monitor/details.png");
	line-height: 23px;
	height: 23px;
	width: 70px;
	display: block;
	font-size: 12px;
	padding-left: 5px;
	margin-right: 4px;
}

#device_left {
	font-size: 12px;
	border-right: 2px solid #EDEDED;
	float: left;
	width: 100%;
	height: 100%;
	
}

#back_div {
	float: left;
	width: 100%;
	margin: 10px;
	height: 40px;
	font-size: 16px;
	font-weight: 600;
}

#bakcBranch {
	background: url("../../images/monitor/backbranch.png");
	width: 142px;
	height: 39px;
	margin-left:125px;
	float: left;
	padding-top: 7px;
	padding-right: 10px;
	text-align: right;
	cursor: pointer;
}

#bakcDeviceView {
	background: url("../../images/monitor/backbranch.png");
	width: 142px;
	height: 39px;
	margin-left:10px;
	float: left;
	padding-top: 7px;
	display:none;
	padding-right: 10px;
	text-align: right;
	cursor: pointer;
}

#device_view_show {
	background: url("../../images/monitor/deviceView.png");
	width: 142px;
	height: 39px;
	margin-right: 75px;
	float: right;
	padding-top: 7px;
	padding-left: 10px;
	cursor: pointer;
}

#view_div {
	width: 100%;
	height: 100%;
	margin:0 auto;
	/* float: left; */
	overflow: auto; overflow-x:hidden;
	min-width: 790px;
	margin-left: 40px;

	}
#view_content_div{
	width: 100%;
	height: 100%;
	overflow: auto; overflow-x:hidden;
}
.ups_detail {
	font-size:12px;
	
	height:406px;
	background: url("../../images/monitor/upsdetails.png") no-repeat;
	
	
	width:687px;
	margin: 0 auto;
	color: white;
	
}
.ups_border{
	border-radius: 5px 5px;
	border:1px solid #7FA782;
	float: left;
	margin-top:10px;
	margin-left: 10px; 
	padding: 10px;
	width:717px;
	height:506px;
	margin-bottom: 10px;
	
	
	
}


.ups_detail_left {
	
	float: left;
	width: 21.2%;
	height: 406px;
	
}

.ups_detail_center {
	float: left;
	width: 59%;
	height: 406px;
	
}

.ups_detail_right {
	float: left;
	width: 19.4%;
	height: 406px;
	
}
.inputVoltage{
	
	width:100%;
	margin-top:66%;
	height:90px;
	float: left;
}
#view_div table{
	height: 100%;
	width: 100%;
	
}
#view_div td{
	
	line-height: 16px;
}
.upsInfo{
	
	width:100%;margin-top:15px;
	height:95px;
	float: left;
	
	
}

.batteryStatus{
	
	width:100%;margin-top:9%;

	height:24%;
	float: left; 
}
.bypassVoltage{
	margin-top:0.5%;
	margin-left:26.8%;
	
	float: left;
	height:19%;
	width:37%;
	
	
}
.remainingTime{
	
	float:left;
	width:37%;
	margin-top:300px;
	margin-left:26.8%;
	color:black;
}

.outputVoltage{
	
	width:100%;
	margin-top:55.6%;
	height:19.2%;
	float: left;
}
.outputFrenquency{
	
	width:100%;
	margin-top:19%;
	
	height:20.5%;
	float: left;
}
.load{
	
	width:100%;
	margin-top:28%;
	height:20%;
	float: left;
}
.other{
	float: left;
	width: 100%;
	margin: 10px 0px 10px 0px;
	
}
.other_div{
	background: url("../../images/monitor/bg.png");
	width: 190px;
	height:118px;
	
	float:left;
	margin:20px;
}
.ac_border{
	float:left;
	width: 100%;
	
	height:100px;
}