<?xml version="1.0" encoding="UTF-8"?> 
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>c:/temp/logs/application.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>c:/temp/logs/application-%d{yyyy-MM-dd}.log</fileNamePattern>
			 <maxHistory>30</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
			<charset>UTF-8</charset> <!-- 此处设置字符集 -->
		</encoder>
		
	</appender>
	         


	<logger name="ch.qos.logback" level="WARN" />
	<logger name="org.mortbay.log" level="WARN" />
	<logger name="org.springframework" level="INFO" />
	<logger name="org.springframework.beans" level="WARN" />
	<logger name="org.ibatis" level="INFO" />
	<logger name="com.uxsino.simo" level="INFO" />
    
	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
</configuration>
