body{    
    font-size: 13px;
    min-width:1024px;
}
.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	max-width: none;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
	background:white; 
	filter:alpha(opacity=0); 
	opacity:0;
}

.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

.nivo-caption {
	position:absolute;
	left:0px;
	bottom:0px;
	background:#000;
	color:#fff;
	width:100%;
	z-index:8;
	padding: 5px 10px;
	opacity: 0.8;
	overflow: hidden;
	display: none;
	-moz-opacity: 0.8;
	filter:alpha(opacity=8);
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;    
	box-sizing: border-box;         
}
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
.nivo-controlNav {
	text-align:center;
	padding: 15px 0;
}
.nivo-controlNav a {
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}

.metro-layout .items { margin-top:50px;width:100%; }
.metro-layout .box {height:200px; background-repeat: no-repeat; background-size: 180px; background-position:center;float: left; margin: 0.5em; padding: 0.5em; text-decoration: none; cursor: pointer; color: #fff; z-index: 9; }
.metro-layout .box:hover { opacity: 0.85; filter: alpha(opacity=85); }
.metro-layout .box span { left: 0.5em; bottom: 0.5em; font-size: 1em; font-weight: normal; z-index: 8; }
.metro-layout .box img.icon {  left: 0; top: 0;  z-index: 7;width:100%;height:100% }
.metro-layout .box img.big { margin-left: -64px; margin-top: -64px; }
.metro-layout .box img.cover { left: 0; top: 0; width: 100%; z-index: 6; }

.monitortype {
    height:62%;font-size:32px;font-weight:bold;padding:10px;padding-top:30px;margin-bottom:10px
}
.monitortype img{
    width:110px;height:110px;vertical-align:middle;margin-right:10px
}

.monitortypefont {
    font-size:24px;font-weight:bold;padding:20px 0 0 30px;
}

.metro-layout .widget4x4 {
    width: 222px;
    height: 222px;
}
 .division{display:none}
 .clearfix_top{width:40%;margin-left:4%;float:left;height: 616px}
 .clearfix{text-align:center;width:50%;float:left;margin-left:50px}
 .grid{text-align: left; height: 326px;}
 .grid_refresh{width:15px;height:15px;vertical-align:middle}
 .grid_height{height: 258px;}
 @media handheld, only screen and (max-device-width:980px) {    
 body{    
    font-size: 13px;
    min-width:980px; 
  
   

}

.metro-layout .items { margin-top:50px; position:absolute;width:100%;left:0;}

}

@media handheld, only screen and (max-width: 1110px) and (min-width:1024px){    
 
.metro-layout .items { margin-top:50px; position:absolute;width:100%;left:0;



}.clearfix_top{
height:330px;
}
}
@media handheld, only screen and (max-width: 1024px) and (orientation : landscape){    
 
.metro-layout .items { margin-top:50px; position:absolute;width:100%;left:0;

}
.clearfix_top{
height:330px;
}
}
@media handheld, only screen and (max-width: 1024px){
.clearfix_top{
height:330px;
}

.metro-layout .items { margin-top:50px; position:absolute;width:1024px;left:0;

}
}

@media handheld, only screen and (max-device-width: 1024px) and (orientation : portrait){
	.clearfix_top{
height:50%;
}
 .metro-layout .items { margin-top:100px; position:relative;width:100%;left:0; }
 .clearfix_top{width:100%;float:none;margin-left:0px}
 .clearfix{width:100%;float:none;margin-left:0px;margin-top:50px}
 .k-grid{font-size:32px}
 .grid{height: 922px;}
 .grid_refresh{width:35px;height:35px;}
 .grid_height{height: 800px;}
 
}

@media handheld, only screen and (max-device-width: 480px) {    
 html, body{    
    min-width:0px;
   
}
.metro-layout .items { margin-top:100px; position:relative;width:100%;/* margin-left:2%; */}
 .clearfix_top{width:100%;float:none;margin-left:0px}
 .clearfix{width:100%;float:none;margin-left:0px;margin-top:50px}
 .k-grid{font-size:32px}
 .grid{height: 922px;}
 .grid_refresh{width:35px;height:35px;}
 .grid_height{height: 800px;}
}

