.other_content_div{
	float: left;
	
}
.ups_detail_bottom{
	margin-top:2px;
	
	
	height: 49px;
	width: 301px;
	background: url("../../images/monitor/ups_button.png") no-repeat; 
}
.other_title{
	text-align: center;
	
	line-height: 30px;
	color: white;
}
.other_content{
	
}
.other_content_img{
	float: left;
	margin-left:5px;
	margin-top:10px;
}
.th_content_detail{
	float:left;
	color: white;
	font-size: 12px;
	margin-top: 12px;
	margin-left: 5px;
}
.inputSwitch_content_detail{
	float:left;
	color: white;
	font-size: 12px;
	margin-top: 16px;
	margin-left: 5px;
}