body {
}

.content .items { width:80%;padding-left:20% }
.box { background-repeat: no-repeat; background-size: 180px; background-position:center;float: left; margin: 0.5em; padding: 0.5em; text-decoration: none; cursor: pointer; color: #fff; z-index: 9; }
.box:hover { opacity: 0.85; filter: alpha(opacity=85); }
.box span { left: 0.5em; top: 0.5em; font-size: 16px; font-weight: normal; z-index: 8; }
.box img {  left: 0; top: 0;  z-index: 7;width:60%;height:60% }
.box img.big { margin-left: -64px; margin-top: -64px; }
.box img.cover { left: 0; top: 0; width: 100%; z-index: 6; }

.box_1 {float:left;background-repeat: no-repeat; background-size: 180px; background-position:center; margin: 10px; padding: 0.5em; text-decoration: none; cursor: pointer; color: #fff; z-index: 9; }
.box_1:hover { opacity: 0.85; filter: alpha(opacity=85); }
.box_1 span { left: 0.5em; top: 0.5em; font-size: 16px; font-weight: normal; z-index: 8; }
.box_1 img.icon {  left: 0; top: 0;  z-index: 7;width:100%;height:100% }
.box_1 img.big { margin-left: -64px; margin-top: -64px; }
.box_1 img.cover { left: 0; top: 0; width: 100%; z-index: 6; }

.list_left {
    float:left;margin-left:15%;width:70%
}
.list_right {
    width:100%
}
.widget1x1 {
    width: 135px;
    height: 135px;
}
.widget4x2 {
    width: 265px;
    height: 140px;
}
.listarea {
    background-color:#fff;
    width:48%;height:100%;margin-left:20px;float:left
}
    .listarea .listareaname {
        float:left;width:34%;height:100%;
    }

.magnifyingglass {
    text-align:center;
}
.magnifyingglass input{
    width:700px;height:40px; border:0;background-color:#cccaca;margin-right:5px;
}
.magnifyingglass img{
   width:40px;height:40px;vertical-align:middle;
}
.navigation {
    border-bottom: 1px solid #536270;height:50px;
}
.navigation_left {
    float:left;margin-left:10px;
}
    .navigation_left img {
        width: 40px;
        height: 40px;
        vertical-align: middle;
    }
 .navigation_left span{
    font-size:24px;font-weight:bold;color:#363636
}
.navigation_right {
    float:right;margin-right:20px;margin-top:25px
}
    .navigation_right img {
        width:20px;height:20px;vertical-align:middle;margin-left:5px;margin-right:10px
    }
.ips {
    width:580px
}
.box_1_left {
    float:left;padding-left:10px;
}
.box_1_left img {
     width:80px;height:80px
}
.box_1_left span{
    color:#363636;font-size:14px;font-weight:bold
}
.box_1_left_font{width:150px}
.ips_top {
    border-bottom: 1px solid #536270;height:50px;text-align:center
}
.box_1_right{float:right;}
.box_1_right img{width:80px;height:80px;margin-top:15px}
@media handheld, only screen and (max-width: 1024px){
    .ips_top {
        height: 110px;
    }
    .ips_top img {
        width:280px;height:100px
    }
    .ips {
        width: 700px;
    }
    .box_1_left img {
        width: 130px;
        height: 130px;
    }
        .box_1_left span {
            font-size: 20px;
        }
    .navigation {
        height: 70px;
    }
        .navigation_left img {
        width: 65px;
        height: 65px;
        vertical-align: middle;
    }
    .navigation_left span {
        font-size: 34px;
        font-weight: bold;
        color: #363636;
    }
    .navigation_right {
        font-size: 24px;
    }
        .navigation_right img {
        width:40px;height:40px;
    }
    .magnifyingglass input {
        height: 80px;
        border: 0;
        background-color: #cccaca;
        margin-right: 5px;
    }
    .magnifyingglass img {
        width: 80px;
        height: 80px;
        vertical-align: middle;
    }
.box span { font-size: 26px;  }
    .widget1x1 {
        width: 265px;
        height: 265px;
    }
    .widget4x2 {
        width: 325px;
        height: 230px;
    }
    .listarea {
        margin-top:20px;width:100%;height:100%;float:none;
    }
    .listarea .listareaname {
        float:left;width:34%;height:150%;
    }
    .list_left {
        margin-left: 3%;
        width: 90%;
    }
    .list_right {
        width: 100%;
    }
    .box_1_left_font{width:190px}
    .box_1_right img{width:100px;height:100px;margin-top:45px}
}