body {
}

.metro-layout .content .items { width:80%;padding-left:20% }
.metro-layout .box {background-position:right;background-repeat:no-repeat;background-size:30px;color:#363636; float: left; margin: 0.5em 0.5em 0.5em 0; padding: 0.5em 0.5em 0.5em 0; text-decoration: none; z-index: 9; }
.metro-layout .box span { left: 0.5em; top: 0.5em; font-size: 0.5em; font-weight: normal; z-index: 8; }
.metro-layout .box img.icon {  left: 0; top: 0;  z-index: 7;width:100%;height:100% }
.metro-layout .box img.big { margin-left: -64px; margin-top: -64px; }
.metro-layout .box img.cover { left: 0; top: 0; width: 100%; z-index: 6; }
.metro-layout .box .computer { width:80px;height:80px }


.metro-layout .box_1 {background-position:right;background-repeat:no-repeat;background-size:13px;color:#363636; float: left; margin: 0.5em; padding: 0.5em; text-decoration: none; z-index: 9; }
.metro-layout .box_1 img.icon {  left: 0; top: 0;  z-index: 7;width:100%;height:100% }
.metro-layout .box_1 img.big { margin-left: -64px; margin-top: -64px; }
.metro-layout .box_1 img.cover { left: 0; top: 0; width: 100%; z-index: 6; }


.widget2x4 {    
    width: 170px;
    height: 215px;
}
.website {
    float:left;margin-left:10%;width:20%
}
        .website span {
            font-size:24px;font-weight:bold;color:#363636
        }
.details {
    float:right;margin-right:10%;width:55%
}
.listarea {
    margin-top:10px;width:100%;height:100%
}
.listarea_1 {
    margin-top:10px;width:100%;height:100%
}
.listarea_1footer {
    margin-left:5%;
}

.listarea_1computer {
    text-align:left;margin-left:45px
}
.left_top {
    float:left;padding-left:10px;
}
.left_top img{
    width:260px;height:190px
}
.left_middle {
    width:500px;height:200px;
}
    .left_middle_div {
        padding-left:20px;
    }
.progress {
  width:230px;
  padding: 4px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar {
  height: 16px;
  border-radius: 4px;
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
}
.progress-bar:before, .progress-bar:after {
  content: '';
  top: 0;
  left: 0;
  right: 0;
}
.progress-bar:before {
  bottom: 0;
  background: url("../img/stripes.png") 0 0 repeat;
  border-radius: 4px 4px 0 0;
}
.progress-bar:after {
  z-index: 2;
  bottom: 45%;
  border-radius: 4px;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
}
.left_middle_font {
    width:100%;height:40px;font-weight:bold
}
.left_top_font {
    float:left; background-color:#003366;width:180px;height:190px;
}

@media handheld, only screen  and (min-width: 1024px) and (max-width: 1892px){	
    .website {
        float:left;margin-left:0;width:25%
    }
        .website span {
            font-size:18px;font-weight:bold;color:#363636
        }
        .listarea_1 {
   width:100%;overflow-x:auto;overflow:auto}
    .box .computer {
        width:40px;height:40px
    }
    .details {
    float:right;margin-right:10%;width:62%;}
    .widget2x4 {
        width: 180px;
        height: 255px;
    }
    .listarea_1computer {
        text-align: left;
        margin-left: 15px;
    }
    .listarea_1footer {
        margin-left: 0;
    }
    .left_top {
        float: left;
        padding-left: 10px;
    }
        .left_top img {
            display:none;
        }
    .left_middle_div {
        padding-left:0;
    }
    .progress {
        width: 100px;
    }
    .left_middle_font {
        width: 220px;
        height: 40px;
        font-weight: bold;
    }
    .left_top_font {
        margin-left:20px;
        background-color: #003366;
        width: 180px;
        height: 190px;
    }
}
.website_top{border-bottom: 1px solid #536270;height:50px;}
.website_top_div{float:left;margin-left:10px;}
.website_top_div img{width:40px;height:40px;vertical-align:middle}
.widget4x2{height:420px}

@media handheld, only screen and (max-width: 1024px) {
    .website {
        float:none;margin-left:5%;width:90%
    }
        .website_top_div span {
            font-size:48px;font-weight:bold;color:#363636
        }
 .website_top{border-bottom: 1px solid #536270;height:100px;}
 .website_top img{width:70px;height:70px;vertical-align:middle}
 .website_middle{height:300px}
    .tabcontrol .tabs li a {
        width: 200px;
        height: 60px;
        font-size: 36px;
        font-weight: bold;
    }
    .listarea_1 { width:100%;height:100%}
    .box .computer {
        width:40px;height:40px
    }
    .details { margin-right:5%;width:90%;}
    .widget2x4 {
        width: 180px;
        height: 255px;
    }
    .listarea_1computer {
        text-align: left;
        margin-left: 15px;
    }
    .listarea_1footer {
        margin-left: 0;
    }
    .left_top {
        float: left;
        padding-left: 10px;
    }
        .left_top img {
            display:none;
        }
    .left_middle_div {
        padding-left:0;
    }
    .progress {
        width: 100px;
    }
    .left_middle_font {
        width: 220px;
        height: 40px;
        font-weight: bold;
    }
    .left_top_font {
        margin-left:20px;
        background-color: #003366;
        width: 180px;
        height: 190px;
    }
    
 .widget4x2{height:550px}
}