body {
}

 .content .items { width:80%;padding-left:20% }
 .box {background-position:right;background-repeat:no-repeat;background-size:30px;color:#363636; float: left; margin: 0.5em 0.5em 0.5em 0; padding: 0.5em 0.5em 0.5em 0; text-decoration: none; z-index: 9; }
 .box img {  left: 0; top: 0;  z-index: 7;width:100px;height:100px }
 .box img.big { margin-left: -64px; margin-top: -64px; }
 .box img.cover { left: 0; top: 0; width: 100%; z-index: 6; }
 .box .computer { width:80px;height:80px }


.box_1 {background-position:right;background-repeat:no-repeat;background-size:13px;color:#363636; float: left; margin: 0.5em 0.5em 0.5em 0; padding: 0.5em; text-decoration: none; z-index: 9; }
.box_1 img.icon {  left: 0; top: 0;  z-index: 7;width:100%;height:100% }
.box_1 img.big { margin-left: -64px; margin-top: -64px; }
.box_1 img.cover { left: 0; top: 0; width: 100%; z-index: 6; }


.widget2x4 {    
    width: 163px;
    height: 215px;
}
.website {
    float:left;margin-left:10%;width:25%
}
        .website_top_div span {
            font-size:24px;font-weight:bold;color:#363636
        }
.details {
    float:right;margin-right:10%;width:50%
}
.listarea {
    margin-top:10px;width:100%;
}
.listarea_font {
    text-align:left;margin-left:20px;margin-top:15px;font-size:13px; font-weight:bold
}
.listarea_1footer {
    margin-left:5%;
}

.listarea_1computer {
    text-align:left;margin-left:45px
}
.left_top {
    float:left;padding-left:10px;
}
.left_top img{
    width:260px;height:190px
}
.left_middle {
    width:500px;height:200px;
}
    .left_middle_div {
        padding-left:20px;
    }
    .left_bottom{width:100%;margin-left:25px}
    .left_bottom_1{height:400px;width:100%}
    .left_over{width:100%;height:100px}
    .right_over{width:100%;height:150px;float:left}
.progress {
  width:230px;
  padding: 4px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar {
  height: 16px;
  border-radius: 4px;
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
}
.progress-bar:before, .progress-bar:after {
  content: '';
  top: 0;
  left: 0;
  right: 0;
}
.progress-bar:before {
  bottom: 0;
  background: url("../img/stripes.png") 0 0 repeat;
  border-radius: 4px 4px 0 0;
}
.progress-bar:after {
  z-index: 2;
  bottom: 45%;
  border-radius: 4px;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
}
.left_middle_font {
    width:100%;height:40px;font-weight:bold
}
.left_top_font {
    float:left; background-color:#003366;width:180px;height:190px;
}
.left_top_font_1{border:1px solid #fff;margin:0.5em;margin-top:20px;width:150px}
.left_top_font_1 span{font-size:24px;font-weight:bold;color:#ffffff;}
.left_top_font_2{text-align:left;margin:20px 0 10px 5px;}
.left_top_font_2 .span_1{font-size:16px;font-weight:bold;color:#fff;}
.left_top_font_2 .span_2{font-size:16px;font-weight:bold;color:#ff6a00;}
.left_top_font_3{text-align:left;margin-left:5px;}
.left_top_font_3 .span_1{font-size:16px;font-weight:bold;color:#fff;}
.left_top_font_3 .span_2{font-size:16px;font-weight:bold;color:#69ba1e;}

@media handheld, only screen  and (min-width: 1025px) and (max-width: 1840px){	
    .website {
        float:left;margin-left:0;width:25%
    }
        .website_top_div span {
            font-size:18px;font-weight:bold;color:#363636
        }
        .listarea_1 {
   width:100%;overflow-x:auto;overflow:auto}
    .box .computer {
        width:40px;height:40px
    }
    .details {
    float:right;margin-right:10%;width:62%;}
    .widget2x4 {
        width: 180px;
        height: 255px;
    }
    .listarea_1computer {
        text-align: left;
        margin-left: 15px;
    }
    .listarea_1footer {
        margin-left: 0;
    }
    .left_top {
        float: left;
        padding-left: 10px;
    }
        .left_top img {
            display:none;
        }
    .left_middle_div {
        padding-left:0;
    }
    .progress {
        width: 100px;
    }
    .left_middle {
        width: 100%;
        height: 200px;
    }
    .left_middle_font {
        width: 220px;
        height: 40px;
        font-weight: bold;
    }
    .left_top_font {
        margin-left:20px;
        background-color: #003366;
        width: 180px;
        height: 190px;
    }
    
    .left_bottom{width:240px;height:270px;margin-left:20%}
    .left_bottom_1{height:320px;width:100%}
}
.website_top{border-bottom: 1px solid #536270;height:50px;}
.website_top_div{float:left;margin-left:10px;}
.website_top_div img{width:40px;height:40px;vertical-align:middle}
.website_middle{float:none;height:220px}
.left_middle_div_1{width:100%;height:40px}
.left_middle_div_1_1{float:left;width:100px;}
.left_middle_div_1_3{text-align:left}
.left_middle_div_2{width:400px;height:40px}
.left_middle_div_3{width:400px;height:40px}
.borderyellow {border:4px solid #FDD116}
.bordergreen {border:4px solid #63BF5A}
.borderred {border:4px solid #DF4C59}


@media handheld, only screen and (max-width: 1025px) {
    .website {
        float:none;margin-left:5%;width:90%
    }
        .website_top_div span {
            font-size:48px;font-weight:bold;color:#363636
        }
.website_top{border-bottom: 1px solid #536270;height:100px;}
.website_top img{width:70px;height:70px;vertical-align:middle}
.website_middle{height:300px}
    .listarea_1 {
        width: 100%;
        overflow-x: auto;
        overflow: auto;
    }
    .details {
    float:right;margin-right:10%;width:62%;}
    .widget2x4 {
        width: 382px;
        height: 380px;
    }
    .listarea_1computer {
        text-align: left;
        margin-left: 15px;
    }
    .listarea_1footer {
        margin-left: 0;
    }
    .left_top {
        float: left;
        padding-left: 10px;
    }
        .left_top img {
            width:410px;
            height:290px
        }
    .left_middle_div {
        padding-left:10%;
    }
    .progress {
        width: 100px;
    }
    .left_middle_font {
        width: 100%;
        height: 80px;
        font-weight: bold;
        font-size:44px;
        text-align:center
    }
    
.left_middle_div_1{width:100%;height:60px;font-size:36px}

.left_middle_div_1_1{float:left;width:200px;}
    .left_top_font {
        background-color: #003366;
        width: 400px;
        height: 290px;
    }
.left_middle_div_1_3{text-align:left;font-size:36px}
    
.left_top_font_1{border:none;margin:0.5em;margin-top:20px;margin-left:20px; width:290px;height:140px}
.left_top_font_1 span{font-size:44px;font-weight:bold;color:#ffffff;}
.left_top_font_2 .span_1{font-size:36px;font-weight:bold;color:#fff;}
.left_top_font_2 .span_2{font-size:36px;font-weight:bold;color:#ff6a00;}
.left_top_font_3 .span_1{font-size:36px;font-weight:bold;color:#fff;}
.left_top_font_3 .span_2{font-size:36px;font-weight:bold;color:#69ba1e;}
    .left_middle {
        width: 100%;
        height: 320px;
    }
    
.left_middle_div_2{width:100%;height:60px;font-size:36px}
.left_middle_div_3{width:100%;height:60px;font-size:36px}

    .progress {
        width: 330px;
        height: 30px;
    }
    .progress-bar {
        height: 100%;
    }
    .left_bottom{width:500px;height:370px;margin-left:20%}
    .left_bottom_1{height:500px;width:100%}

    .left_over{width:100%;height:0}
    .details {
        float: none;
        margin-left: 5%;
        width: 90%;
        padding-bottom:50px;
    }
    
 .listarea_font { text-align:left;margin-left:20px;margin-top:15px;font-size:26px; font-weight:bold }
 .box  {font-size:36px }
 .box img {  left: 0; top: 0;  z-index: 7;width:200px;height:200px }

 .box_1 {margin: 0.5em ; padding: 0.5em;  }

}
